[Desktop Entry]
Name=Ubuntu
GenericName=Ubuntu shell
Comment=Ubuntu shell
Category=Distrobox;System;Utility
Exec=/run/current-system/sw/bin/blackbox -c "distrobox enter Ubuntu -- fish"
TryExec=/run/current-system/sw/bin/blackbox
Icon=/home/gbrlgn/.local/share/icons/distrobox/ubuntu.svg
Keywords=distrobox;
NoDisplay=false
Type=Application
