[Desktop Entry]
Name=PyCharm Community Edition
GenericName=The intelligent Python IDE
Exec=FLATPAK_ENABLE_SDK_EXT="*" /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=pycharm com.jetbrains.PyCharm-Community
Terminal=false
Icon=com.jetbrains.PyCharm-Community
Type=Application
Categories=Development;IDE;
X-Desktop-File-Install-Version=0.21
StartupWMClass=jetbrains-pycharm-ce
X-Flatpak=com.jetbrains.PyCharm-Community
